@media screen and (max-width:768px) {
    .basicsearch {
        margin: 0;
        width: 100%;
        height: 230px;
        padding-left: 30px;
    }

    #basicsearchbox {
        width: 450px;
        display: inline;
    }
    .basicsearch .selectsearchtype {
        width: 200px;
        display: inline;
    }
}

