/*============================MEDIA QUERIES========================*/
@media screen and (max-width:950px) {
	/*#gvcnavbar {
		height:150px;
	}*/

	#homepageslider .carousel-inner .item img {
		height:300px;
	}
}

@media screen and (max-width:767px) {
	/*#gvcnavbar {
		height:450px;
	}*/

	#sidebar {
		float:none;
		width:100%;
	}

	.basicsearch {
		margin:0;
		width:100%;
		height:230px;
		padding-left:30px;
	}
	.basicsearch .form-group:nth-child(1) {
		padding-bottom:5px;
	}

	#basicsearchbox {
		width:450px;
		display:inline;
	}

	.basicsearch .selectsearchtype {
		width:200px;
		display:inline;
	}
	.advancedsearch {
		margin:0;
		width:100%;
		padding-left:30px;
	}
	.advancedsearch .selectsearchtype {
		width:140px;
		display:inline;
	}
	.searchbox {
		width:200px;
		display:inline;
	}
	.andor {
		width:100px;
		display:inline;
	}
}

@media screen and (max-width:572px) {
	.basicsearch {
		margin:0;
		width:100%;
		height:230px;
		padding-left:10px;
	}
	.basicsearch .form-group:nth-child(1) {
		padding-bottom:5px;
	}

	#basicsearchbox {
		width:300px;
		display:inline;
	}

	.selectsearchtype {
		width:100px;
		display:inline;
	}
}